body,
html {
    font-weight: 400;
    overflow-x: hidden;
}

.halftone-wrapper {
    position: absolute;
    top: -3rem;
    left: -3rem;
    width: 400px;
    height: 400px;
    opacity: 0.8;
}

.corner-slash {
    position: absolute;
    bottom: 1.5rem;
    right: -1rem;
    width: 6rem;
    height: 2px;
    transform: rotate(-45deg);
    background-color: $secondary;
    z-index: 1;
}

.text-tertiary {
    color: $tertiary;
}

.text-gray {
    color: $gray;
}

.bg-gray {
    background-color: $gray;
}

.bg-texture {
    background: url(../img/texture-tile.jpg) repeat center center / 150px 150px;

    @media #{$xl-up} {
        background-size: 250px 250px;
    }
}

.bg-opaque {
    background-color: rgba($color: $white, $alpha: 0.2);
}

h2.display-1 {
    @media (min-width: 1200px) and (max-width: 1400px) {
        font-size: 5rem !important;
    }
}
