.no-webp {
    #mainIndex {
        section {
            &#hero {
                background: url(../img/hero-bg-md.jpg) no-repeat center center / cover;

                @media #{$retina} {
                    background-image: url(../img/hero-bg-md@2x.jpg);
                }

                @media #{$lg-up} {
                    background-image: url(../img/hero-bg-lg.jpg);

                    @media #{$retina} {
                        background-image: url(../img/hero-bg-lg@2x.jpg);
                    }
                }
                @media #{$xl-up} {
                    background-image: url(../img/hero-bg-xl.jpg);

                    @media #{$retina} {
                        background-image: url(../img/hero-bg-xl@2x.jpg);
                    }
                }
            }
        }
    }
}

.webp {
    #mainIndex {
        section {
            &#hero {
                background: url(../img/hero-bg-md.webp) no-repeat center center / cover;

                @media #{$retina} {
                    background-image: url(../img/hero-bg-md@2x.webp);
                }

                @media #{$lg-up} {
                    background-image: url(../img/hero-bg-lg.webp);

                    @media #{$retina} {
                        background-image: url(../img/hero-bg-lg@2x.webp);
                    }
                }
                @media #{$xl-up} {
                    background-image: url(../img/hero-bg-xl.webp);

                    @media #{$retina} {
                        background-image: url(../img/hero-bg-xl@2x.webp);
                    }
                }
            }
        }
    }
}
