.eh {
    /* ****************************************************** */
    /*                          DOWN                          */
    /* ****************************************************** */
    &.eh-sm {
        @media #{$sm-down} {
            min-height: auto !important;
        }
    }
    &.eh-md {
        @media #{$md-down} {
            min-height: auto !important;
        }
    }
    &.eh-lg {
        @media #{$lg-down} {
            min-height: auto !important;
        }
    }
    &.eh-xl {
        @media #{$xl-down} {
            min-height: auto !important;
        }
    }
    &.eh-xxl {
        @media #{$xxl-down} {
            min-height: auto !important;
        }
    }
    &.eh-xxl2 {
        @media #{$xxl2-down} {
            min-height: auto !important;
        }
    }
    &.eh-xxl3 {
        @media #{$xxl3-down} {
            min-height: auto !important;
        }
    }
    &.eh-xxl4 {
        @media #{$xxl4-down} {
            min-height: auto !important;
        }
    }
}
