// position absolute
@mixin absolute($top:0, $left:0, $right:auto, $bottom:auto){
	position: absolute;
	left:$left;
	top:$top;
	right:$right;
	bottom:$bottom;
}
// vertical alignment
@mixin inline($alignment:middle){
	display:inline-block;
	vertical-align:$alignment;
}
// fonts
@mixin font($size: 16, $lineheight: 16, $weight:400) {
	font-size: $size + px;
	line-height: $lineheight + px;
	font-weight: $weight;
}
// @mixin fontsize($size: 16, $lineheight: 16) {
// 	font-size: $size + px;
// 	line-height: $lineheight + px;
// }